<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="#/">Inicio</a></li>
                <li><a class="active" href="#servicios">Servicios</a></li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<div id="service" class="container">
    <div class="row">
        <div class="col-md-7">
            <h2>Servicio de Pintura</h2>
            <p>Servicio de pintura de bicicletas. Pintar bicicleta de carbono, aluminio y acero. Vinilos. Bicicleta personalizada.</p>
        </div>
        <div class="col-md-5">
            <img src="public/images/sv-1.jpg" alt="Servicio de Pintura" class="img-rounded">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="public/images/sv-2.jpg" alt="Soldarura MIG" class="img-rounded">
        </div>
        <div class="col-md-7">
            <h2>Soldarura MIG</h2>
            <p>Las principales ventajas que ofrece el proceso MIG/MAG son: Buena apariencia o acabado (pocos salpicados), Poca formación de gases contaminantes y tóxicos.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h2>Fabricaci&oacute;n de partes</h2>
            <p>Fabricaci&oacute;n de piezas de la bicicleta profesional y enfoque en productos de gama alta y que gastan las capacidades de diseño.</p>
        </div>
        <div class="col-md-5">
            <img src="public/images/sv-3.jpg" alt="Fabricaci&oacute;n de partes" class="img-rounded">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="public/images/sv-4.jpg" alt="Servicio T&eacute;cnico" class="img-rounded">
        </div>
        <div class="col-md-7">
            <h2>Servicio T&eacute;cnico</h2>
            <p>Tambien les ofrecemos la venta de refacciones y accesorios para poder pintar y reconstruir su bicicleta, en el caso de que usted desee servicio mecanico.</p>
        </div>
    </div>
</div>